@media (max-width: 768px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .header {
        background-position-x: 31%;
    }

    .top__title {
        display: flex;
        justify-content: center;
    }

    .title {
        font-weight: 700;
        font-size: 32px;
        line-height: 39px;
        display: flex;
        align-items: center;
        text-align: center;
    }

    .top_text {
        display: flex;
    }

    .text {
        font-weight: 300;
        font-size: 14px;
        line-height: 22px;
        text-align: center;
        
    }

    .top_button {
        display: flex;
        padding-bottom: 238px;
        justify-content: center;
    }

    .form {
        width: 343px;
        background-position: center;
    }

    .games {
        width: 343px;
        gap: 32px;
    }


    .f {
        width: 100%;
    }
    
}